@use "../../styles/variables"as *;

.ButtonDefault,
.ButtonDefault:disabled {
  padding: 16px 22px;
  font-size: 16px;
  font-weight: 500;
  color: $primaryTextColor;
  background: none;
  border-radius: 15px;
  border: 1px solid #FFF;
}

.ButtonDefault:hover,
.ButtonDefault:active {
  color: $accentTextColor;
  border-color: $accentTextColor;
}