@use "../../styles/variables"as *;

.Info {
  position: relative;
  padding-top: 85px;
  padding-bottom: 190px;
}

.Info>.Container {
  position: relative;
}

.Info__wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  padding: 130px 0;
  background: $gradient5;
  border-radius: 20px;
  overflow: hidden;
}

.Info__wrapper::before,
.Info__wrapper::after {
  --size: 440.008px;
  --blur: 86px;
  --rotate: 11.969deg;
  --index: 0;
  @extend %gradientBackdrop;
  background: $gradient4;
}

.Info__wrapper::before {
  --top: -35px;
  --right: 10px;
}

.Info__wrapper::after {
  --bottom: 00px;
  --left: 0px;
}

.Info__title {
  margin: 0;
  margin-bottom: 65px;
  font-size: 45px;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
}

.Info__cards {
  position: relative;
  display: grid;
  // grid-template-areas: "card-stars card-crazy""card-money card-cool";
  grid-template-columns: repeat(2, 300px);
  grid-auto-rows: minmax(330px, auto);
  gap: 50px;
  z-index: 1;
}

.Info__gradientCircles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Info__gradientCircles>i {
  --index: 0;
  @extend %gradientCircle;

  &:nth-child(1) {
    --top: 109px;
    --left: 170px;
    --size: 84.004px;
    --rotate: 7.766deg;
    background: $gradient7;
    border: 1px solid $gradient7;
  }

  &:nth-child(2) {
    --top: -95px;
    --right: 118px;
    --size: 151px;
    --rotate: -25.732deg;
    background: $gradient8;
    border: 1px solid $gradient8;
  }

  &:nth-child(3) {
    --right: 160px;
    --bottom: 125px;
    --size: 131px;
    --rotate: -25.732deg;
    --blur: 12px;
    background: $gradient8;
    border: 1px solid $gradient8;
  }
}