@use "../../styles/variables"as *;

.Info {
  position: relative;
  padding-top: 85px;
  padding-bottom: 190px;
}

.Info__wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  padding: 130px 0;
  background: $gradient5;
  border-radius: 20px;
  overflow: hidden;
}

.Info__wrapper::before,
.Info__wrapper::after {
  --size: 440.008px;
  --blur: 86px;
  --rotate: 11.969deg;
  --index: 0;
  @extend %gradientBackdrop;
  background: $gradient4;
}

.Info__wrapper::before {
  --top: -80px;
  --right: -40px;
}

.Info__wrapper::after {
  --bottom: -10px;
  --left: -25px;
}

.Info__title {
  margin: 0;
  margin-bottom: 65px;
  font-size: 45px;
  font-weight: 600;
  line-height: 130%;
  text-align: center;
}

.Info__cards {
  position: relative;
  display: grid;
  // grid-template-areas: "card-stars card-crazy""card-money card-cool";
  grid-template-columns: repeat(2, 300px);
  grid-auto-rows: minmax(330px, auto);
  gap: 50px;
  z-index: 1;
}