$bgColor: #1D2532;
$primaryTextColor: #fff;
$secondaryTextColor: #CECECE;
$disabledTextColor: rgba(36, 36, 36, 0.50);
$accentTextColor: #C3F33B;
$gradient1: linear-gradient(141deg, #1DD844 0%, #CBF62E 100%);
$gradient2: linear-gradient(171deg, rgba(95, 56, 255, 0.35) 0%, rgba(255, 14, 222, 0.35) 100%);
$gradient3: linear-gradient(171deg, rgba(95, 56, 255, 0.55) 0%, rgba(255, 14, 222, 0.55) 100%);
$gradient4: linear-gradient(171deg, rgba(95, 56, 255, 0.25) 0%, rgba(255, 14, 222, 0.25) 100%);
$gradient5: linear-gradient(203deg, #323E51 0%, #1D2532 100%);
$infoCardFrontBgColor: rgba(51, 62, 81, 0.70);
$infoCardFrontBlur: 30.5px;
$infoCardBackBgColor: rgba(51, 62, 81, 0.60);
$infoCardBackBlur: 27.5px;

:root {
  --vh: 1vh;
}

%pseudo {
  position: absolute;
  display: block;
  content: '';
}

%ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

%gradientCircle {
  --gradientCircleRadius: 0px;
  --gradientCircleTop: 0px;
  --gradientCircleLeft: 0px;
  @extend %pseudo;
  top: var(--gradientCircleTop);
  left: var(--gradientCircleLeft);
  width: var(--gradientCircleRadius);
  height: var(--gradientCircleRadius);
  border-radius: var(--gradientCircleRadius);
  background: $gradient2;
  transform: rotate(11.969deg);
  filter: blur(86px);
  z-index: 1;
}