@use "fonts";
@use "variables"as *;

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.21;
  font-weight: 400;
  color: $primaryTextColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $secondaryTextColor;
  text-decoration: none;
  transition: all 0.25s;
}

a:hover {
  color: $primaryTextColor;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
button:disabled {
  padding: 16px 22px;
  font-size: 16px;
  font-weight: 500;
  color: $primaryTextColor;
  background: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.25s;
  outline: none;
}

button:hover,
button:active,
button:focus:not(:focus-visible),
button:focus:not(:-moz-focusring) {
  outline: none;
}