@use '../../styles/variables'as *;

.InfoCard {
  position: relative;
}

.InfoCard::before {
  @extend %pseudo;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px * 2);
  height: 80%;
  border-radius: 20px;
  background: $infoCardBackBgColor;
  backdrop-filter: blur($infoCardBackBlur);
  z-index: 0;
}

.InfoCard__wrapper {
  height: 100%;
  padding-bottom: 20px;
}

.InfoCard__top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 45px 20px;
  border-radius: 20px;
  background: $infoCardFrontBgColor;
  backdrop-filter: blur($infoCardFrontBlur);
  z-index: 1;
}

.InfoCard__image {
  position: relative;
  margin-bottom: 20px;
}

.InfoCard__imageFront {
  display: block;
  position: relative;
  z-index: 1;
}

.InfoCard__imageBack {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.InfoCard__text {
  margin: 0;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: -0.7px;
  text-align: center;
}