@use '../../styles/variables'as *;

.HeroBg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 805px;
  height: 700px;
  z-index: -1;
}

.HeroBg__content {
  position: relative;
}

.HeroBg__content>* {
  position: absolute;
}

.HeroBg__gradient {
  --size: 474.935px;
  --top: 250px;
  --left: 270px;
  --index: 2;
  --blur: 86px;
  --rotate: 11.969deg;
  @extend %gradientCircle;
  background: $gradient3;
}

.HeroBg__businessman {
  top: 101px;
  left: 222px;
  z-index: 3;
}

.HeroBg__piggy {
  top: 230px;
  left: 273px;
  z-index: 1;
}

.HeroBg__money {
  top: 358px;
  left: 633px;
  z-index: 4;
}

.HeroBg__emoji {
  top: 139px;
  left: 333px;
  z-index: 1;
}

.HeroBg__lightning1 {
  top: 132px;
  left: 667px;
  z-index: 2;
}

.HeroBg__lightning2 {
  top: 544px;
  left: 180px;
  z-index: 2;
}

.HeroBg__gradientCircleGreen {
  --size: 87px;
  --top: 167px;
  --left: 1px;
  --index: 2;
  --blur: 2px;
  --rotate: -25.732deg;
  @extend %gradientCircle;
  background: $gradient6;
}