@use '../../styles/variables'as *;

.Header {
  padding-top: 30px;
}

.Header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__nav {
  display: flex;
}

.Header__nav ul {
  @extend %ul;
  margin-right: 150px;
}

.Header__navItem {
  font-size: 23px;
  line-height: 120%;

  &:not(:last-child) {
    margin-right: 105px;
  }
}