@use '../../styles/variables'as *;

.Intro {
  position: relative;
  // height: max-content;
  // max-height: 1030px;
  margin-bottom: 110px;
  background-color: $bgColor;
}

.Intro::before {
  --top: -150px;
  --left: 50px;
  --size: 414.902px;
  --blur: 86px;
  --rotate: 11.969deg;
  --index: 0;
  @extend %gradientBackdrop;
  background: $gradient4;
}

.Intro__content {
  position: relative;
  z-index: 2;
}